
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotAlbums</title>
</head>
<body>
    <div> 
       
        <label>У вас нету ни одного альбома </label> <a href="/Album/Create">Create</a>
    </div>
</body>
</html>
