@model BananaSocialNetwork.Models.Album

@{
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
}

<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
@Scripts.Render("~/Scripts/google_map.js")
<script type="text/javascript">

    var arr = [];
    var index = 0;
</script>

@foreach (var photos in Model.Photos)
{
    <script type="text/javascript">

                       arr[index] = @photos.GeoLong.ToString().Replace(',', '.');
                       index++;
                       arr[index] = @photos.GeoLat.ToString().Replace(',', '.');
        index++;
    </script>

}

@section scripts {
    <script type="text/javascript">



        $(document).ready(function () {

            GetAllPhotosMap(arr, 10);

        });


        //  SetMarcer();



    </script>
}
<div id="canvas" style="height: 600px; width:600px;">



    <!--Устанавливаем секцию scripts, которая затем будет рендериться на мастер-странице -->
</div>