@{
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
}
@{
    ViewBag.Title = "Profile";
}
<div class="container display_block middle_content profile_bg">
    <div class="float_left">
        <div class="first_column margin_10">
            <div class="avatar_form">

            </div>
        </div>
    </div>
    <div class="float_right">

    </div>
</div>
