@model List<BananaSocialNetwork.Models.Photo>

@{
    Layout = null;
}



    @foreach (BananaSocialNetwork.Models.Photo photo in Model)
    {
        
        <div>
            @photo.PhotoPath
        </div>
         <div>
             <a href="@photo.PhotoPath" class="float_left margin_10" data-id="@photo.Id">
                 <div class="photo float_left"
                      style="background-image: url(@photo.PhotoPath); ">
                 </div>
             </a>
        </div>
    }

