@model object
@{
    Layout = null;
}
@{
    foreach (var user in (Model as List<BananaSocialNetwork.Models.User>))
    {
        <li>
            <div class="news_header" style="border-bottom: solid 1px #e4e3e3;">
                <div class="display_block" style="width:100%;">
                    <a href="~/Profile/Index?userId=@user.Id" class="float_left">
                        <div class="news_avatar" style="background-image: url(@user.AvatatPath)"></div>
                    </a>
                    <div class="float_right" style="width:87%;">
                        <div class="display_block" style="width:100%;">
                            <div class="float_left width_50per">
                                <p>
                                    <a href="~/Profile/Index?userId=@user.Id"
                                       class="sh_fr_name bold_text">@user.Firstname&nbsp;@user.Surname</a>
                                </p>
                            </div>
                            <div class="float_right sh_fr_btn_cont">
                                <i class="fa fa-sitemap cur_poiter btn btn-default" onclick="set_user_info('@user.Id')"
                                   data-toggle="tooltip" data-placement="left" title="All information"></i>
                                <i class="fa fa-close cur_poiter btn btn-default" onclick="delete_user('@user.Id')"
                                   data-toggle="tooltip" data-placement="left" title="Delete user"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    }
}
