@{
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
}

<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAACHCJdlgAEGcD_flKUFEmVhT2yXp_ZAY8_ufC3CFXhHIE1NvwkxTeukKcKHF3ezmjTB0q6gzSBmoIUQ"
        type="text/javascript"></script>
<script type="text/javascript">

    function initialize() {

        var map = new google.maps.Map(document.getElementById("map_canvas"));
        map.setUIToDefault();

        map.setCenter(new google.maps.LatLng(56.317957, 43.944416), 4);


        google.maps.event.addListener(map, "click", function (overlay, latlng) {

            var myHtml = "Latitude: " + latlng.lat() + "Longitude: " + latlng.lng() + "\n";
            //map.openInfoWindow(latlng, myHtml);
            var m = "Map zoom : " + map.toString();

            //alert(myHtml + m);

            $("#point_list").append("<li> X: " + latlng.lat() + "   Y: " + latlng.lng() + "</li>");

        });
    }
</script>


<body onload="initialize()" onunload="GUnload()">
    <table>
        <tr>
            <td>
                <div id="map_canvas" style="margin: 5px; width: 700px; height: 600px; "></div>
            </td>
            <td>
                <ul id="point_list" style="align-items: baseline;">
                </ul>
            </td>
        </tr>
    </table>
</body>


