.min_width {
    min-width: 767px;
}

.soc_container{
    width:1000px;
    margin:auto;
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

*{
    margin:0px;
    padding:0px;
    font-family: tahoma, tahoma, verdana, arial, sans-serif;
}

a{
     text-decoration:none;
}

.border_none{
    border:none;
}

.green_text{
    color: #25AD9F;
}

.dark_green_text{
    color: #147269;
}

.validation-summary-errors ul{
    list-style:none;
}
/*------------------------------------*\
	НАВИГАЦИЯ
\*------------------------------------*/
#nav{
	float:left;
	width:100%;
	list-style:none;
	font-weight:bold;
	margin-bottom:10px;
    background-color:#25AD9F;
}
#nav li{
	float:left;
	margin-right:10px;
	position:relative;
	display:block;
}
#nav li a{
    padding:10px;
    color:white;
    text-decoration:none;
}
#nav li a .text{
    padding-left:20px;
}
#nav li a:hover{
	background-color:white;
    color: #25AD9F;
}

/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
#nav ul{
    width:100%;
    z-index:2000;
    top:70px;
	list-style:none;
	position:absolute;
	left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
	opacity:0; /* Устанавливаем начальное состояние прозрачности */
	-webkit-transition:0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
}
#nav ul li{
	padding-top:0px; 
	float:none;
	background-color:#25AD9F;
}
#nav ul a{
    margin-left:-1px;
	white-space:nowrap; 
	display:block;
    border-left:solid 1px #25AD9F;
    border-bottom:solid 1px #25AD9F;
    border-right:solid 1px #25AD9F;
}
#nav li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
	left:0; /* Приносим его обратно на экран, когда нужно */
	opacity:1; /* Делаем непрозрачным */
}
#nav li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
    color: #25AD9F;
	background-color:white;
    text-decoration:none;
    border-bottom:solid 1px #25AD9F;
    border-right:solid 1px #25AD9F;
}
#nav li:hover ul a{ 
    min-width:100px;
	color:#23988c;
    text-decoration:none;
}
#nav li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
	background-color:#25AD9F;
    color:white;
}


.header {
    min-width:1000px;
    height: 70px;
    background-color: #25AD9F;
}

    .header .logo_string {
        color: white;
        font-weight: bold;
        font-size: 26px;
        padding-top: 15px;
        float: left;
    }

    .header .right_btn {
        height: 70px;
        width: 70px;
        float: right;
        margin-right: 50px;
    }

    .header .btn_bounds{
        width: 70px;
        height: 70px;
    }

.s_btn {
    border: none;
    background-color: #25AD9F;
    color: white;
    outline: none;
}

    .s_btn:hover {
        background-color: #23988c;
    }

.wrap {
    min-height:100%;
    height: auto !important;
}

.render_body{
    padding-bottom: 30px;

}

.footer {
    height: 25px;
    width: auto;
    min-width:1000px;
    border: none;
    background-color: #25AD9F;
    margin-top: -25px; 
    overflow:hidden;
}


    .footer .rights {
        color: white;
        padding-left: 30px;
    }

.width_50per {
    width: 50%;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.display_block {
    display: inline-block;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #25AD9F;
    opacity: 1;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #25AD9F;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #25AD9F;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #25AD9F;
}

.margin_10 {
        margin: 10px;
    }

.margin_5 {
        margin: 5px;
    }

.middle_content{
    border:solid 1px #25AD9F;
    border-top:none;
}

/*  Menu Drop  */
.menu_div{
    border:solid 1px #EEE;
}
.main-item{
    line-height:30px;
    outline:none;
    background-color:#f5f3f3;
}
.main-item a {
    color: #2B587A;
    cursor:pointer;
}
.sub-menu 
{ 
   margin-left:-1px;
   visibility:hidden;
   list-style:none;
   display:none;
   border-top:none;
   position:absolute;
   border:solid 1px #EEE;
   border-top:none;
}
.main-item a:focus , .main-item a:hover{
    color:black;
    text-decoration:none;
    border-bottom: none;
    outline:none;
}
.sub-menu li{
    color: #2B587A;
    text-align:left;
    padding:10px;
    border-bottom:solid 1px #EEE;
    height:35px;
    background-color:white;
}
.sub-menu li i{
    padding-right:5px;
}
.sub-menu li a{
    color:#2B587A;
    text-decoration:none;
    cursor:pointer;
}
.sub-menu li a:hover{
    color:black;
    text-decoration:none;
}
.main-item:focus ~ .sub-menu,
.main-item:active ~ .sub-menu,
.sub-menu:hover {
    visibility: visible;
    display: block;
}

/* Top Buttons */
.top_btn_href{
    line-height:70px;
    color:white;
    text-decoration:none;
}

.top_btn_href:hover{
    color:white;
    text-decoration:none;
}

.singup{
    padding-left:13px;
    padding-right:13px;
}

.login{
    padding-left:18px;
    padding-right:18px;
}


/* Account/Login */

.middle_content .bigger_text {
    font-size: 18px;
    font-weight: bold;
}

.middle_content .middle_text {
    font-size: 14px;
}

.middle_content .enter_form {
    width: 438px;
    height: auto;
    border: solid 1px #25AD9F;
    margin: auto;
}

    .middle_content .enter_form .header_form {
        width: 100%;
        height: 50px;
        background-color: #25AD9F;
    }

    .middle_content .enter_form .header_text {
        width: 100%;
        font-size: 20px;
        font-weight: bold;
        color: white;
        text-align: center;
        padding-top: 10px;
    }

.middle_content .enter_form input[type="text"] {
    width: 100%;
    height: 50px;
    border: solid 1px #25AD9F;
    outline: none;
}

.middle_content .enter_form input[type="password"] {
    width: 100%;
    height: 50px;
    border: solid 1px #25AD9F;
    outline: none;
}

.middle_content .enter_form input[type="submit"] {
    width: 100%;
    height: 50px;
}

.middle_content .enter_form .remember_text {
    color: #25AD9F;
}

/* Account/Register */

    .middle_content .reg_form {
    width: 100%;
    height: 400px;
    /*border: solid 1px #25AD9F;*/
    margin: auto;
}

    .middle_content .reg_form .header_form {
        width: 100%;
        height: 50px;
        background-color: #25AD9F;
    }

    .middle_content .reg_form .header_small {
        width: 100%;
        height: 25px;
        background-color: #25AD9F;
    }

    .middle_content .reg_form .header_text {
        width: 100%;
        font-size: 20px;
        font-weight: bold;
        color: white;
        text-align: center;
        padding-top: 10px;
    }

    .middle_content .reg_form .header_text_small {
        width: 100%;
        font-size: 17px;
        color: white;
        text-align: left;
        padding-left: 30px;
    }

    .middle_content .reg_form input[type="text"] {
        width: 100%;
        height: 50px;
        border: solid 1px #25AD9F;
        outline: none;
    }

    .middle_content .reg_form input[type="password"] {
        width: 100%;
        height: 50px;
        border: solid 1px #25AD9F;
        outline: none;
    }

    .middle_content .reg_form input[type="submit"] {
        width: 100%;
        height: 50px;
    }

    .middle_content .reg_form .note{
        color:#929292;
        font-size:10px;
    }

    .middle_content .reg_form .validation_conteiner{
        height:75px;
        vertical-align:central;
    }

    .middle_content .reg_form .validation_conteiner .validation_text{
        color:red;
        line-height:0px;
    }

/* Profile/Index */

.profile_bg{
    background-color:#EFEFEF;
}

.middle_content .profile .header_form {
        width: 100%;
        height: 30px;
        background-color: #EFEFEF;
    }

.middle_content .profile .first_column{
    width:200px;
}

.middle_content .profile .avatar_form{
    max-width:200px;
    max-height:300px;
    text-align:center;
}

.middle_content .profile .avatar_form img{
    max-width: 200px;
    max-height: 300px;
}

.middle_content .profile .online_form{
    height:40px;
    width:720px;
    background-color:white;
    border:solid 1px #AAAAAA;
}

.middle_content .profile .about_form{
    height:125px;
    width:280px;
    background-color:white;
    border:solid 1px #AAAAAA;
}

.middle_content .profile .friends_form{
    height:125px;
    width:420px;
    background-color:white;
    border:solid 1px #AAAAAA;
}

.middle_content .profile .status_form{
    height:100px;
    width:200px;
    background-color:white;
    border:solid 1px #AAAAAA;
}

.middle_content .profile .photo{
    line-height:50px;
    width:120px;
    height:120px;
    background-color:#25AD9F;

    background-position:center center;
	background-repeat: no-repeat;
	
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
}

.middle_content .profile .photo_count{
    background-color:#EFEFEF;
}

.middle_content .profile .photo_count .text{
    font-size:11px;
    padding-left:5px;
    color:#25AD9F;
    text-decoration:none;
}

/*  Profile/Edit  */

.middle_content .edit_page{
    width:100%;
}
.middle_content .edit_page .edit_avatar{
    max-height:400px; 
    max-width:300px;
    margin:auto;
    margin-top:10px;
}
.middle_content .edit_page .edit_avatar img{
    max-height:400px; 
    max-width:300px;
}

.middle_content .edit_page input[type=file] {
  margin: auto;
  margin-top:20px;
  border: solid 1px #e1e0e0;
}
.middle_content .edit_page input[type=submit] { 
    margin-top: 20px;
}
.middle_content .edit_page .avatar_note{
    font-size: 10px;
    text-align: left;
    margin: 10px;
}

.middle_content .edit_page .div_header{
    height:30px;
    border-bottom:solid 1px #e1e0e0;
    padding:0px;
    margin:0px;
}
.middle_content .edit_page .content_label{
    width:100%;
    padding-right:20px;
}
.middle_content .edit_page .content_label div{
    /*float:right;*/
}
.middle_content .edit_page .content_label div p{
    margin: 0px;
    text-align:right;
    font-size:11px;
}

.middle_content .edit_page .content_label .editor{
    width:230px;
}

.middle_content .edit_page .content_label .editor input[type='text'],
.middle_content .edit_page .content_label .editor input[type='number']
{
    width:100%;
}
/* Album/Details */

.album{
    width:100%;
}
.middle_content .album .al_header{
    height:40px;
    border-bottom:solid 1px #e1e0e0;
}
.middle_content .album .al_header .al_name{
    margin:10px;
    cursor:default;
}
.middle_content .album .al_header .menu_div{
    margin: 5px 20px;
    width:150px;
    text-align:center;
    border:solid 1px #e1e0e0;
}
.middle_content .album .photo_content{
    width:179px;
    height:190px;

    background-color: white;
    border:solid 1px #AAAAAA;
}

.middle_content .album .photo{
    /*width:170px;*/
    /*height:170px;*/
    /*border:solid 1px #AAAAAA;*/
    /*border:solid 1px red;*/
}

.middle_content .album .photo_header{
    background-color: #EFEFEF;
}

.thumbs{
	width:auto;
	margin:auto;
	text-align:center;
}

.thumbs a{
    float:left;
	text-decoration:none;
	
	background-position:center center;
	background-repeat: no-repeat;
	
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
}
/*@media (min-width: 992px) and (max-width: 1199px){
    .middle_content .album .photo_content {
        width: 168px;
        height: 178px;

    }
    .middle_content .album .photo {
        width: 168px;
        height: 168px;
    }
}*/