/* The gallery overlay */

#galleryOverlay{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	opacity:0;
	z-index:100000;
	background-color:#222;
	background-color:rgba(0,0,0,0.8);
    overflow:hidden;
    overflow-y:auto;
	display:none;
	
	-moz-transition:opacity 1s ease;
	-webkit-transition:opacity 1s ease;
	transition:opacity 1s ease;
}

#gallerySlider .placeholder .waiter{
    background: url("preloader.gif") no-repeat center center;
    height: 100%;
	line-height: 1px;
	text-align: center;
	width:100%;
	display:inline-block;
}
/* This class will trigger the animation */

#galleryOverlay.visible{
	opacity:1;
}

#gallerySlider{
	height:100%;
	left:0;
	top:0;
	width:100%;
	white-space: nowrap;
	position:absolute;
	-moz-transition:left 0.4s ease;
	-webkit-transition:left 0.4s ease;
	transition:left 0.4s ease;
}

#gallerySlider .placeholder{
	/*background: url("preloader.gif") no-repeat center center;*/
	height: 100%;
	line-height: 1px;
	text-align: center;
	width:100%;
	display:inline-block;
}

.commentsBlock{
    min-height:10px;
    background-color:white;
    margin:auto;
}

.commentsBlock .comtrols_div{
    display:inline-block;
}

.commentsBlock .comtrols_div .mess_div{
    float:left;
    width:450px;
    margin:10px;
}

.commentsBlock .comtrols_div .mess_div .show_in_map{
    margin-bottom:10px; 
    text-align:center;
}
.commentsBlock .comtrols_div .mess_div .show_in_map i{
    margin:5px;
}
.commentsBlock .comtrols_div .mess_div .show_in_map a{
    font-size:12px;
    cursor:pointer;
    color:#2B587A;
    text-decoration:none;
}

.commentsBlock .comtrols_div .mess_div .show_in_map a:hover, 
.commentsBlock .comtrols_div .mess_div .show_in_map a:active{
    color:black;
    text-decoration:none;
}

.commentsBlock .comtrols_div .mess_div .send_btn {
        width: 100px;
        margin:0px;
        margin-top:5px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }

.commentsBlock .comtrols_div .mess_div textarea{
    line-height:normal;
    height:100px;
    width:450px;
    resize:none;
    margin-top:5px;
    border:solid 1px lightgray;
}

.commentsBlock .comtrols_div .btns_div{
    float:right;
    width:200px;
    height:120px;
    margin:10px;
    padding:5px;
    border-left:solid 1px #EEE;
}

/* The before element moves the
 * image halfway from the top */

#gallerySlider .placeholder:before{
	content: "";
	display: inline-block;
	height: 50%;
	width: 1px;
	margin-right:-1px;
}

#gallerySlider .placeholder .presenter{
    display:inline-table;
    vertical-align: top;
    width:auto;
    max-height: 500px;
    max-width:900px;
    background-color:white;
}

#gallerySlider .placeholder .presenter img{
    margin: 10px;
    margin-top:40px;
    max-height: 500px;
	max-width:900px;
}

#gallerySlider.rightSpring{
	-moz-animation: rightSpring 0.3s;
	-webkit-animation: rightSpring 0.3s;
}

#gallerySlider.leftSpring{
	-moz-animation: leftSpring 0.3s;
	-webkit-animation: leftSpring 0.3s;
}

/* Firefox Keyframe Animations */

@-moz-keyframes rightSpring{
	0%{		margin-left:0px;}
	50%{	margin-left:-30px;}
	100%{	margin-left:0px;}
}

@-moz-keyframes leftSpring{
	0%{		margin-left:0px;}
	50%{	margin-left:30px;}
	100%{	margin-left:0px;}
}

/* Safari and Chrome Keyframe Animations */

@-webkit-keyframes rightSpring{
	0%{		margin-left:0px;}
	50%{	margin-left:-30px;}
	100%{	margin-left:0px;}
}

@-webkit-keyframes leftSpring{
	0%{		margin-left:0px;}
	50%{	margin-left:30px;}
	100%{	margin-left:0px;}
}

/* Arrows */

#prevArrow,#nextArrow{
	border:none;
	text-decoration:none;
	background:url('arrows.png') no-repeat;
	opacity:0.5;
	cursor:pointer;
	position:absolute;
	width:43px;
	height:58px;
	
	top:50%;
	margin-top:-29px;
	
	-moz-transition:opacity 0.2s ease;
	-webkit-transition:opacity 0.2s ease;
	transition:opacity 0.2s ease;
}

#prevArrow:hover, #nextArrow:hover{
	opacity:1;
}

#prevArrow{
	background-position:left top;
	left:40px;
}

#nextArrow{
	background-position:right top;
	right:40px;
}