@model BananaSocialNetwork.Models.Photo

<div class="commentsBlock">
    <div class="comtrols_div">
        <div class="mess_div">
            <div class="show_in_map">
                <a onclick="show_Photo_in_map(@Model.Id)"><i class="fa fa-map-marker fa-1x"></i>Show photo in map</a>
            </div>
            <div class="all_comments" style="min-height:30px;">

            </div>
            <textarea placeholder="" id="com_text"></textarea>
            <a class='btn btn-success btn-block send_btn margin_10' onclick="sendCom()">Send</a>
            <input type="hidden" id="id_mes" name="id_mes" value="@Model.Id" />
            <input type="hidden" id="index" name="index" />
        </div>
        <div class="btns_div" style="padding-top:20px;">
            @if (User.Identity.Name.Equals(Model.Album.User.UserName))
            {
              <div class="menu_div">
                <div class="main-item" tabindex="1"><a @*href="javascript:void(0);"*@><i class="fa fa-chevron-down fa-1x margin_5"></i>Settings</a></div>
                <ul class="sub-menu" style="width:189px;">
                    <li><a onclick="show_Edit_Photo(@Model.Id)"><i class="fa fa-gear fa-1x"></i>Edit</a></li>
                    <li><a href='/Photo/DeleteConfirmed/@Model.Id'><i class="fa fa-trash fa-1x"></i>Delete</a></li>
                </ul>
            </div>  
            }
            
        </div>
    </div>
</div>
