@model BananaSocialNetwork.Models.Photo

<div class="commentsBlock">
    <div class="comtrols_div">
        <div class="mess_div">
            <div class="all_comments" style="min-height:30px;">

            </div>
            <textarea placeholder="" id="com_text"></textarea>
            <a class='btn btn-success btn-block send_btn margin_10' style="width:100px;" onclick="sendCom()">Send</a>
            <input type="hidden" id="id_mes" name="id_mes" value="@Model.Id" />
            <input type="hidden" id="index" name="index" />
        </div>
        <div class="btns_div" style="padding-top:20px;">
            <div class="menu_div">
                <a class="main-item" href="javascript:void(0);" tabindex="1">Settings</a>
                <ul class="sub-menu">
                    <li><a href="#1">подпункт 1</a></li>
                    <li><a href="#2">подпункт 2</a></li>
                    <li><a href='/Photo/Edit/@Model.Id'>CommentsList</a></li>
                </ul>
            </div>
            @*<a class="main-item" href="javascript:void(0);" tabindex="1">Settings</a>
            <ul class="sub-menu">
                <li><a href="#1">подпункт 1</a></li>
                <li><a href="#2">подпункт 2</a></li>
                <li><a href='/Photo/Edit/@Model.Id'>CommentsList</a></li>
            </ul>*@
            @*<ul class="settings_menu">
                    <li>
                        <a href="javascript:void(0);" tabindex='1'>Settings</a>
                        <ul>
                            <li><a href='/Photo/Delete/@Model.Id' class='btn btn-danger btn-block'>Delete</a></li>
                            <li><a href='/Comment/CommentList/@Model.Id' class='btn btn-success btn-block'>CommentsList</a></li>

                        </ul>
                    </li>
                </ul>*@
        </div>
    </div>
</div>
