@model BananaSocialNetwork.Models.Photo

<div class="commentsBlock">
    <div class="comtrols_div">
        <div class="mess_div">
            <textarea></textarea>
        </div>
        <div class="btns_div">
            <a href='/Photo/Delete/@Model.Id' class='btn btn-danger btn-block'>Delete</a>
            <a href='/Comment/Create/@Model.Id' class='btn btn-success btn-block'>Send</a>
            <a href='/Comment/CommentList/@Model.Id' class='btn btn-success btn-block'>CommentsList</a>
        </div>
    </div>
</div>
