@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NonPhoto</title>
</head>
<body>
    <div>
        <label>У вас нету ни одной фотографии </label><a href="/Photo/Create/@ViewBag.Id">Create</a>
    </div>
</body>
</html>
