@model BananaSocialNetwork.Models.Photo
@{
    Layout = null;
}

<div style="width: 100%; height: 100%; text-align: center; font-family: tahoma, tahoma, verdana, arial, sans-serif; 
font-size:13px; position:fixed; top:0px; left:0px; background-color:rgba(0, 0, 0, 0.20)" id="photo_int_map">
    <div style="width: 500px; height: 465px; background-color: white; display: inline-block; margin-top: 5%; border: solid 4px #25AD9F">
        <div style="height: 40px; background-color: #25AD9F">
            <p style="float:left; margin-left:10px; margin-top:10px; color:white;">Photo on the map</p>
            <p style="float: right; margin-right: 20px; margin-top: 10px; color: white; cursor: pointer;" onclick="close_photo_in_map()">close</p>
        </div>
        <div id="canvas" style="height: 417px; width: 100%; margin-right: 30px; padding: 0px;">
            <script>

                var GeoLong = @Model.GeoLong.ToString().Replace(',', '.');
                var GeoLat = @Model.GeoLat.ToString().Replace(',', '.');
                ShowPhotoLocation()
            </script>
        </div>
    </div>
</div>