@model BananaSocialNetwork.Models.User


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchOnName</title>
</head>
<body>

    <div>
        @foreach (BananaSocialNetwork.Models.User user in ViewBag.Users)
        {
            using (Html.BeginForm("AddFriend", "Search", FormMethod.Get))
            {
                <div>@user.UserName</div>
          
                <input type="hidden" value="@user.Id" name="idFriend" />
                <input type="submit" value="Add" />
            }
        }
    </div>

</body>
</html>

