@model BananaSocialNetwork.Models.User
@{
    Layout = null;
}

@foreach (BananaSocialNetwork.Models.User user in ViewBag.Users)
{
    using (Html.BeginForm("AddFriend", "Search", FormMethod.Get))
    {

        <input type="hidden" name="idFriend" value="@user.Id" />
        <div>
            <div class="display_block f_placeholder">
                <div class="float_left">
                    <div class="f_avatar" style="background-image: url(@user.AvatatPath);"></div>
                </div>
                <div class="float_left f_controls">
                    <a href="~/Profile/Index?userId=@user.Id" class="name_text">
                        @user.UserName
                    </a>
                    <input type="button" value="Add to friends" class="f_b_pos f_btn"
                           onclick="add_friend('@user.Id', this)" />
                </div>
            </div>
        </div>
    }
}

