@{
    Layout = "~/Views/Shared/_Register.cshtml";
}
@{
    ViewBag.Title = "Email confirmed";
}
<div class="container middle_content min_width">
    <h2 class="margin_10 dark_green_text">Completion of registration</h2>
    <div class="margin_10 green_text">
        <p>
            Registration is completed.
        </p>
    </div>
</div>

