@{
    Layout = "~/Views/Shared/_Login.cshtml";
}
@{
    ViewBag.Title = "Email none conformed";
}
<div class="container middle_content min_width">
    <h2 class="margin_10 dark_green_text">Not confirmed profile.</h2>
    <div class="margin_10 green_text">
        <p>
            Your profile is not verified. On your e-mail has been sent an email with instructions verify your account.
        </p>
    </div>
</div>


